<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>PartsPicker • Build a PC</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<!-- navigation bar -->
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <!-- Insert Logo -->
        <a class="navbar-brand" href="index.html" th:href="@{/}"> Parts Picker</a>

        <!-- mobile button menu -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Menu items -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active"><a class="nav-link" href="budget.html"> Build a PC<span class="sr-only">(current)</span> </a></li>
                <li class="nav-item"><a class="nav-link" href="accessories.html" th:href="@{ /accessories}"> Accessories </a></li>
                <li class="nav-item"><a class="nav-link" href="madePC.html"th:href="@{/madePC}"> Created PCs on PartsPicker </a></li>
            </ul>
            <!-- search form -->
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            <!-- right side of navigation bar will be register and login menu items only -->
            <ul class="navbar-nav mr auto navbar-right">
                <li class="nav-item"><a class="nav-link" href="register.html" th:href="@{/register}">Register</a> </li>
                <li class="nav-item"><a class="nav-link" href="profile.html" th:href="@{/profile}">Profile</a></li>
            </ul>
        </div>
    </nav>
</header>
<body>
<!-- Select a budget-->
<form>
<div class="container-fluid">
<p class="h4 text-align-center"> To start building your PC please select your PC Type</p>
<p class="text-muted"> Here at PartsPicker we aim to ensure you can manage your budget to suit your personal needs, so please
ensure that you read the description thoroughly of the PC type and choose appropriately </p>
</div>
<!-- select a budget row 1-->
<div class="card-deck">
    <div class="card">
        <img class="card-img-top" src="../static/images/WorkPC.jpg" th:src="@{/images/WorkPC.jpg}" width="800" height="450" alt="">
        <div class="card-body">
            <h5 class="card-title">A PC for Work only</h5>
            <p class="card-text">This kind of PC will allow you to work on projects, spreadsheets, basic multitasking and
                other forms of productivity. You may customise this to your specific field e.g. Graphical Designer or
                Account
            Price range: £300-£700
            </p>
            <a href="buildWorkPC.html" th:href="@{buildWorkPC}" class="btn btn-primary">I want to only do Work on my PC</a>
        </div>
    </div>
    <div class="card">
        <img src="../static/images/GamingPC.jpg" th:src="@{/images/GamingPC.jpg}" class="card-img-top" alt="">
        <div class="card-body">
            <h5 class="card-title">A PC for Gaming</h5>
            <p class="card-text">This kind of PC will allow you to do more than work related tasks, you can enjoy gaming
                up to 4K resolution (Depending on your build). You can run at least Games from 2016 and older at high framerates
                at 1080p minimum.
                Price range: £500-£2,000</p>
            <a href="buildGamingPC.html" th:href="@{buildGamingPC}" class="btn btn-primary">I want to Game on my PC</a>
        </div>
    </div>
</div>
</form>
</body>

<footer>
    <br>
    <nav class="navbar navbar-light bg-dark">
        <span class="navbar-brand mb-0 h1 text-muted">© Shihabur Rahman 2019 • Creator of PartsPicker </span>
    </nav>
</footer>
</html>